<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container-fluid p-5 mt-5">
			<div class="row">
				<div class="col-md-3">
					<div class="card card-sh">
						<div class="card-header text-center fs-4">Add Category</div>
						<div class="card-body">
							<form>
								<div class="mb-3">
									<label>Enter Category</label> <input type="text"
										class="form-control">
								</div>

								<div class="mb-3">
									<label>Upload Image</label> <input type="file"
										class="form-control">
								</div>

							</form>
						</div>
					</div>
				</div>

				<div class="col-md-8">
					<div class="card card-sh">
						<div class="card-header text-center fs-4">Category Details</div>
						<div class="card-body">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">Sl No</th>
										<th scope="col">Category</th>
										<th scope="col">Image</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">1</th>
										<td>Mark</td>
										<td>Otto</td>
										<td>@mdo</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>

				</div>

			</div>
		</div>
	</section>
</body>
</html>